

.Navbar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: black;
    flex-direction: row;
}

.NavbarLeft{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.Navbar .NavbarLeft img{
    width: 65px;
}

.Navbar .NavbarRight{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.Navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.Navbar .NavbarRight button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.Navbar .NavbarRight svg {
    font-size: 40px;
}

.Navbar #open{
    padding-left: 0px;
}

.Navbar #open img{
    display: none;
}

.Navbar #closes img{
    display: inherit;
}

.Navbar #open .hiddeLink{
    display: inherit;
    margin-left: -60px;
    
}

.Navbar #close .hiddeLink{
    display: none;
}

.Navbar #open a {
    width: 70px;
    margin: 5px;
}
@media only screen and (max-width: 900px){
    .Navbar .NavbarRight a {
        width: 70px;
    }

    .Navbar .NavbarLeft  {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px){
    .Navbar .NavbarRight a {
        display: none;
    }

    .Navbar .NavbarRight  {
        justify-content: space-around;
        padding-right: 4px;
        
    }

    .Navbar .NavbarRight button {
        display: inherit;
    }
}

@media only screen and (min-width: 600px) {
    .Navbar .NavbarRight button {
      display: none;
    }
  
    .hiddeLink {
      display: none;
    }
  }
